<% content_for(:title, t('.title')) %>
<div class="container-lg pt-3">
  <% if logged_in? %>
    <!-- 検索フォーム -->
    <%= render 'search_form', url: boards_path %>
  <% else %>
    <%= render 'before_login' %>
  <% end %>
</div> 

<!-- 掲示板一覧 -->
<div class="col-sm-12">
  <% if @boards.present? %>
    <%= render @boards %>
  <% else %>
    <p><%= t('.no_result') %></p>
  <% end %>
  <!-- ページネーション -->
  <%= paginate @boards %>
</div>
